<h1> Results </h1>

<h2>Overall</h2>
<table class="table table-striped">
  <tr>
    <th>engine</th>
    <th>total times participating</th>
    <th>wins</th>
    <th>losses</th>
    <th>ties</th>
    <th>Victory rate <small>disregards ties: wins / (wins + losses)</small></th>
  </tr>

<% @results.each do |row| %>
  <tr>
    <td><%= row["engine"] %> </td>
    <td><%= row["total_selections"] %></td>
    <td><%= row["wins"] %> </td>
    <td><%= row["losses"] %> </td>
    <td><%= row["ties"] %> </td>
    <td> <%= number_to_percentage( 100 * row["wins"].to_f / ( row["wins"] + row["losses"] ), :precision => 1 )%> </td>
  </tr>
<% end %>

</table>

<h2> Match-up count sanity check </h2>
<table class="table table-striped">
  <tr>
    <th>vs.</th>
    <% @match_up_keys.each do |engine| %>
    <th><%= engine %> </th>
    <% end %>
  <tr>
  
  
  <% @match_up_keys.each do |engine| %>
    <tr>
      <th><%= engine %> </th>
        <% @match_up_keys.each do |second_engine| %>                      
          <td>
            <% if engine == second_engine %>
              *
            <% else %>
              <%= @match_up_count[engine][second_engine] %>
            <% end %>
          </td>
        <% end %>
    </tr>
  <% end %>
  
  
  
</table>


<h2>Participants demographic overview</h2>
<table class="table table-striped">
  <tr>
    <th>School</th><th>Status</th><th>count</th>
  <tr>
  
  <% @demographic_overview.each do |row| %>
    <tr>
      <td><%= row["demographic_school"] %></td>
      <td><%= row["demographic_status"] %></td>
      <td><%= row["count"] %></td>
    </tr>
  <% end %>
  
</table>
